html,body,#app {
  height: 100%;
}

body, p {
  margin:0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing:border-box;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
